@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
	padding: 0;
	border: 0;
    text-decoration: none;
	list-style: none;

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

img{
    width: 112px;
    height: 52px;
}

header{
    background-color: #A72424;
    width : relative;
    height: 79px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

#div-btn-busca{
    display: flex;
    
    justify-content: end;
    align-items: center;
}
#btn-busca{
    color: #A72424;
    background-color: white;
    width: 109px;
    height: 37px;
    border-radius: 5px;
}