<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logo-api-icone.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Nascimento NEWS</title>
</head>
<header id="">
    <div id="logo">
        <img src="../img/logo-api.png" alt="logo aqui" id="logo-api">
    </div>
    <div id="div-btn-busca">
        <button id="btn-busca" src=""><strong>BUSCA</strong>
            <img src="../img/procurar.png" alt="lupa pesquisa" id="lupa"> <!--aqui vai um X no lugar do botão de busca -->
        </button>
    </div>
</header>
<body>
    <section class="containerPesquisa">
        <div id="btnBuscaAvancada">
            <button> <img src="../img/configuracao.png" alt="configuracao" id="iconeConfiguracao"></button>
        </div>

        <div id="divInputBusca">
            <input type="text" name="inputBusca" id="inputBusca" placeholder="Buscar notícias..." >
        </div>


    </section>
    
</body>
</html>